<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-store"></i> <%= appName %></h5>
                <p>Your one-stop shop for quality products at affordable prices.</p>
                <div class="social-icons">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
            </div>
            
            <div class="col-md-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white-50 text-decoration-none">Home</a></li>
                    <li><a href="/products" class="text-white-50 text-decoration-none">Products</a></li>
                    <li><a href="/about" class="text-white-50 text-decoration-none">About Us</a></li>
                    <li><a href="/contact" class="text-white-50 text-decoration-none">Contact</a></li>
                </ul>
            </div>
            
            <div class="col-md-3">
                <h5>Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a href="/faq" class="text-white-50 text-decoration-none">FAQ</a></li>
                    <li><a href="/shipping" class="text-white-50 text-decoration-none">Shipping Policy</a></li>
                    <li><a href="/returns" class="text-white-50 text-decoration-none">Returns & Refunds</a></li>
                    <li><a href="/privacy" class="text-white-50 text-decoration-none">Privacy Policy</a></li>
                </ul>
            </div>
            
            <div class="col-md-3">
                <h5>Contact Info</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt me-2"></i> 123 Store Street, City</li>
                    <li><i class="fas fa-phone me-2"></i> (123) 456-7890</li>
                    <li><i class="fas fa-envelope me-2"></i> info@basicstore.com</li>
                </ul>
            </div>
        </div>
        
        <hr class="bg-light">
        
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; <%= currentYear %> <%= appName %>. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">
                    <a href="/terms" class="text-white-50 text-decoration-none me-3">Terms of Service</a>
                    <a href="/privacy" class="text-white-50 text-decoration-none">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>